body{
    font-family: "Montserrat";
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
font-family: "Montserrat";
}
/*Background Image*/
.bg{
   background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: fill;
    border: 0;
    padding: 0;
}
/*Containers*/
.container-fluid{
    padding: 7% 15%;
}
.content{
    padding: 16px;
}
/*header Section*/
.greatingdiv{
color: #8f8787;
font-size: 4rem;
padding: 0;
}
.centered1{
    position: absolute;
    top: 50%;
    left: 21%;
    transform: translate(0%, 0%);
    font-size: 4.5vw;
}
.centered2{
    position: absolute;
    top: 60%;
    left: 21%;
    transform: translate( 0%, 0%);
    font-size: 4.5vw;
}
.emphasis{
    color: #fff;
}
/*Navbar*/
#navbar{
background-color: #1e2022;
overflow: hidden;
z-index: 10;
}
#navbar a{
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#navbar a:hover {
    background-color: #ddd;
    color: black;
}
#navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
.sticky{
    position: fixed;
    top: 0%;
    width: 100%;
}
.sticky + content{
    padding-top: 60px;
}
/*CAROUSAL*/
.carousal{
    height: 50%;
    border-bottom: #333a50;
    border-width: 2rem;
}
.carousel-indicators{
    z-index: 9;
}
.carousel-caption{
    color: #204051;
    padding: 5;
    top: 10%;
    left: 15%;
    transform: translate( 0%, 0%);
    z-index: 9;
}
.carousel-caption h5{
    color: #204051;
    font-size: 3vw;
}
.carquote{
    color: #204051;
    font-size: 1.5vw;
}
.carsubstance{
    font-size: 2vw;
}
.carsubstance1{
    font-size: 3vw;
    top: 40%;
}
.carsubstance2{
    font-size: 1.5vw;
    list-style-type: none;
}
.carsubstance3{
    font-size: 2vw;
    top: 50%;
}
.list-group{
    padding: 1rem;
    font-size: 2vw;
}
.emptydiv{
    height: 5rem;
    background-color: #1e2022;
}
/*body Section*/
.bodysection{
background-color: #f0f5f9;
}
.links{
    color: #1e2022;
    font-size: 2.3vw;
}
.links1{
    color: #1e2022;
    font-size: 3.7vw;
}
.links2{
    color: #1e2022;
    font-size: 2vw;
}
.alignlefttext{
text-align: left;
width: 80%;
margin: 100px auto 100px auto;
}
/*Contact me section*/

.formcontainer{
    border-radius: 5px;
    background-color: #52616b;
    padding: 20px;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.active, .collapsible:hover{
    background-color: #ccc;
}
.colcontent{
    padding: 0 0;
    display: none;
    overflow: hidden;
    background-color: #1e2022;
    color: #fff;
}
/*Footer Section*/
.bottomdiv{
background-color: #1e2022;
}
.copyright{
    color: #fff;
}
.linkstosocial{
    width: 10%;
}
/*images*/
.circleImg{
    width: 10%;
}
.leftimg {
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 30px;
  }
  